<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>About Me</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to my portfolio!</h1>
        <hr>
        <div class="box">
            <p>I am a web developer from Armenia, currently living and exploring in the USA. A few years ago I’ve
                decided to
                add coding to my exploration list, so far I’ve been enjoying the journey. In my spare time, you can
                probably
                catch me <b>walking in the park</b>, making origami, or rock climbing!</p>

            <h2>Things I like to do:</h2>

            <!-- This is how to write list markup -->
            <ul>
                <li>Running</li>
                <li>Crocheting toy animals</li>
                <li>Folding origami paper</li>
            </ul>

            <h2>Check out my crochet toy animals.</h2>
            <div class="img-toys">
                <!-- START of image container -->
                <div>
                    <img src="images/toy_1.jpg" alt=" ">
                </div>
                <!-- END of image container -->

                <!-- START of image container -->
                <div>
                    <img src="images/toy_2.jpg" alt=" ">
                </div>
                <!-- END of image container -->

                <!-- START of image container -->
                <div>
                    <img src="images/toy_3.jpg" alt=" ">
                </div>
                <!-- END of image container -->
            </div>
        </div>

    </div>
</body>

</html>